.body{

    display: flex;
    min-height: 90vh;
    background-color: #17252a;
    flex-direction: row;
    margin-right: 10vw;
    margin-left: 10vw;


}
.SideBar{
    margin-right: 5px;

    flex: 0.3;



}
.ChatArea{
    margin-left: 5px;
    flex: 0.7;

}